<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
<head>
    <title>Log in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body class="container mt-5 mb-5">
<div class="container-fluid h-100">
    <div class="row align-items-center h-100">
        <div class="col-sm-12">
            <div class="row justify-content-center">
                <div class="col-3">
                        <form th:action="@{/login}" method="post">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Log in</h1>
                        <label for="inputLogin" class="sr-only">Enter Email</label>
                        <input type="text" name="email" id="inputLogin" class="form-control mb-2" placeholder="Email" required="" autofocus="">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control mb-2" placeholder="Password" required="">
                            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                Invalid email or password!
                            </div>
                            <div th:if="${param.logout}" class="alert alert-info" role="alert">
                                You have been logged out!
                            </div>
                            <div class="checkbox mb-1">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>
                        <div class="row justify-content-center"><input type="submit" value="Sign In" class="btn btn-primary col-6 mb-2"/></div>
                    </form>
                    <div class="text-center">
                    <a href="/registration">Log up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>